<nav class="navbar navbar-dark bg-primary">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">COVID-19 India</a>
    </div>
    
    <nav class="navbar navbar-dark bg-primary">
            <img src="https://media-exp1.licdn.com/dms/image/C5103AQHD8ggxQzrYKw/profile-displayphoto-shrink_200_200/0?e=1593043200&v=beta&t=rXJVWY_EzeQQGS-maOJcjDI4K2qlfaQS_u1yPK-40Ws"
            alt="logo" style="width:2.5rem;">
        <a class="dropdown-toggle" data-toggle="dropdown" style="color: blanchedalmond;">&nbsp; Mehul Raj  <span
                class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://www.linkedin.com/in/mehul-raj-93ab5a124/">Linkedin</a></li>
            <li><a class="dropdown-item" href="https://github.com/Mehul-Raj">Git Hub</a></li>
        </ul>
    </nav>
</nav>